<link rel="stylesheet" href="<%= assetPath('css/homeProfile.css') %>">

<% if(user.id==profile_user.id){ %>
    <!-- show avatar only if it's your profile -->
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    <div id="preview-window"></div>

    <form id="updateProfile" action="/users/profile/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="text" name="email" placeholder="Your Name" value="<%= profile_user.email %>" required>

        <input id="avatarPic" type="file" name="avatar" placeholder="Profile Picture">
        <button type="submit" class="button">Update</button>
    </form>

    <% }else{ %>
        <p>
            <%= profile_user.name %>
        </p>
        <p>
            <%= profile_user.email %>
        </p>

        <p>
            <a id="friendToggle" href="">Add to Friends</a>
        </p>

        <% } %>


            <script>
                let inputAvatar = document.getElementById('avatarPic');
                let previeWindow = document.getElementById('preview-window');

                inputAvatar.onchange = function (e) {
                    let objectURL = window.URL.createObjectURL(e.target.files[0]);
                    previeWindow.innerHTML = `<h2> Preview <h2>
                    <img src="${objectURL}" alt="<%= user.name %>" width="100">
                    `;

                    setTimeout(() => {
                        URL.revokeObjectURL(objectURL);
                    },
                        100);
                };
            </script>